li{
    list-style: none;
}

.doctor_img{
    width:100px;
    height:100px;
}

/*=========================*/

* {
    padding: 0;
    margin: 0;
}

.head {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid black;
}

.headLeft {
    width: 400px;
    height: 90px;
    float: left;
    margin-left: 20px;
}

.headLeft .logo {
    width: 70px;
    height: 70px;
    display: block;
    margin-top: 10px;
    float: left;
}

.headLeft .logoName {
    width: 250px;
    height: 90px;
    display: block;
    float: left;
    line-height: 90px;
    font-size: 32px;
    margin-left: 25px;
    font-weight: bold;
    color: #8a6d3b;
    font-family: свт╟;
}

.headRight {
    width: 120px;
    height: 90px;
    float: right;
}

.headRight .userImage {
    display: block;
    width: 40px;
    height: 40px;
    margin: 27px 0 0 10px;
    float: left;
    border-radius: 50%;
    border: 1px solid #9da0a4;
    cursor: pointer;
}

.headRight .userImage img {
    width: 36px;
    height: 36px;
    margin: 1px 0 0 1px;
    border-radius: 50%;
}

.headRight .logIn {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 25px 0 0 20px;
    float: left;
    font-size: 17px;
    font-family: свт╟;
    cursor: pointer;
}
.headRight .logIn:hover {
    color: #2aabd2;
}
.doctor_list{
    width: 70%;
    float: left;
}

.footer{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}

/*==============================*/

.mainer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.doctorList {
    width: 70%;
}

.scrol {
    height: 620px;
    overflow: auto;
}

.thumbnail {
    margin-bottom: 8px;
    padding: 2px;
}

.doctor {
    margin-bottom: 30px;
    margin-right: 27px;
}